<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="body">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-justify-items-center">
          <ion-col><img src="/assets/icon/favicon.png" alt="Ionic Icon"></ion-col>
          <ion-col><img src="/assets/icon/favicon.png" alt="Ionic Icon"></ion-col>
          <ion-col><img src="/assets/icon/favicon.png" alt="Ionic Icon"></ion-col>
          <ion-col><img src="/assets/icon/favicon.png" alt="Ionic Icon"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>

</ion-content>