ion-menu-button {
    color: var(--ion-color-primary);
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-card {
    height: 400px;
    width: 900px;
    border-radius: 20px;
    margin: 0;
}

ion-grid {
    --ion-grid-columns: 4;
}

ion-col {
    border-radius: 10px;
    
}