ion-menu-button {
    color: var(--ion-color-primary);
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

ion-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 900px;

    border-radius: 20px;

    text-align: justify;
    margin: 0;
    padding: 0 20px;
}

ion-card-title {
    margin-top: 50%;
}

ion-card-content {
    margin-top: 5%;
}