<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empresa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="body">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sobre Nós</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam hic odio at optio ipsum voluptatibus maxime dolorum aspernatur. Quod nihil commodi voluptatem architecto voluptate doloremque! Odio, ullam. Tempora, fugiat error.
        Amet, tempore soluta incidunt repudiandae, nisi expedita quo earum dolor aspernatur rem quam quae neque deleniti facilis tempora commodi quis veniam eligendi labore molestias blanditiis unde dicta aperiam. Ipsum, delectus.
        Quas in maxime autem sed sit repudiandae fugiat consequuntur explicabo itaque ipsam amet unde incidunt, hic iste voluptatibus eos quibusdam doloribus totam quod voluptate nisi dignissimos nam! Aliquid, odio alias.
        Blanditiis perferendis, amet, eos tempora repudiandae at doloremque ducimus, aliquam laboriosam nostrum mollitia nobis omnis earum nemo voluptates hic et soluta. Mollitia dolores doloremque eos expedita velit tenetur autem veritatis.
        Velit explicabo nisi, aut facere accusamus sit perspiciatis ex reiciendis voluptate sequi, omnis aliquid atque quis officiis autem? Quasi quisquam velit pariatur, aperiam enim impedit corporis aliquid voluptatibus repellendus eligendi.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>