ion-menu-button {
    color: var(--ion-color-primary);
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

ion-card {
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
    
    min-width: 300px;
    min-height: 400px;
    margin: 0;
    padding: 0 20px;
}

ion-card :not(img#ionic-icon):nth-child(2) {
    margin-top: auto;
}

ion-card img#ionic-icon {
    margin-top: calc(calc(300px - 128px) / 2);
    width: 128px;
    aspect-ratio: 1 / 1;
}